* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #e53935 0%,
        #e53935 65%,
        #ffffff 100%
    );
}

.top-bar {
    padding: 15px;
    color: white;
    font-weight: bold;
    background: #d32f2f;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 60px;
}

.logo h1 {
    color: white;
    margin: 5px 0;
}

h2 {
    color: white;
    margin-top: 20px;
}

.subtitle {
    color: #ffecec;
    margin-bottom: 20px;
}

.form-card {
    background: #9e9e9e;
    padding: 15px;
    border-radius: 20px;
}

.form-card input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 25px;
    border: none;
    outline: none;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 70%;
    border-radius: 30px;
    border: none;
    background: #b71c1c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #8e1515;
}

.login-text {
    margin-top: 15px;
    color: #555;
}

.login-text a {
    color: #d32f2f;
    font-weight: bold;
    text-decoration: none;
}
