* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 180px;
    max-width: 70%;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #cfcfcf;
    text-align: center;
    padding: 14px 10px;
}

.footer h3 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.footer p {
    font-size: 12px;
    color: #333;
    margin-top: 4px;
}
